@import url(../styles/menus.css);

.wrapper{
    background-color: skyblue;
    margin: 0 auto; 
    padding: 60px 40px; 
    width: 1200px;
    outline: 0px;
   }

div{outline: 1px solid black;}

.t_cell_1{
    padding: 0;
    
}

.in_t_1{
    width: 400px;
    background: orange;
    float: left;
}
span{
    color: blueviolet;
    font-size: 35px;
}
.in_t_2{
    width: 600px;
    background: palegoldenrod;
    vertical-align: middle;
    float: left;
}
.in_in_t_2_left{
    width: 600px;
    margin: 0;
    
}
.in_in_t_2_right{
    width: 400px;
    margin: 0; padding: 0;
}
.in_t_3{
    width: 600px;
    background: plum;
    float: left;
}
 
.in_in_t_3{
    width: 600px; 
}
.in_in_in_t_3{
    width: 300px;
    background: plum;
    float: left;
}
.in_t_4{
    width: 600px;
    background: palevioletred;
    float: left;
}
.in_in_t_4{
    width: 600px;
}
.in_in_in_t_4{
    width: 600px;
    background: palevioletred;
    float: left;
    
}
.in_in_in_in_t_4{
    width: 300px;
    outline: 0px;
    float: left;
}

.clr{
clear: both;
}